/* ---------------NavBar CSS------------------- */
.brand{
  display: flex;
  width: 50%;
}
.brandingLogo {
  border: #99a8b2;
  border-style: double;
  display: inline-block;
  border-radius: 50%;
}
.brandingLogo img {
  border-radius: 50%;
}
.navBar {
  color: #e6d5b8;
}
.nav-link {
  font-size: 2em;
}
.navBarTitles{
  margin: 1% 5%;
}

