/* ---------------NavBar CSS------------------- */
.brand {
  display: flex;
  width: 50%;
}
.brandingLogo {
  border: #99a8b2;
  border-style: double;
  display: inline-block;
  border-radius: 50%;
}
.brandingLogo img {
  border-radius: 50%;
}

.navBar {
  color: #e6d5b8;
}
.nav-link {
  font-size: 2em;
}
.navBarTitles {
  margin: 1% 5%;
}

@media (max-device-width: 1001px) {
  /*--------Header CSS for Small Screens---------------------*/
  /* ---------------NavBar CSS------------------- */
  .brand {
    display: block;
    text-align: center;
    width: 100%;
  }
  .brandingLogo {
    
  }
  .brandingLogo img {

  }
  .navBar-nav {
    flex-direction: row;
    width: 100vw;
    justify-content: center;
  }
  .nav-link {
    margin-right: 5%;
    font-size: 1em;
  }
  .navBarTitles h1{
    font-size: 1.5em;
  }
  .navBarTitles h3{
    font-size: 1.25em;
  }
  .navBarTitles h6{
    font-size: .75em;
  }
}
