footer {
  display: block;
  position: fixed;
  font-size: 1.2rem;
  text-align: center;
  bottom: 0;
  width: 100%;
}
.iconAttribute {
  font-size: 1rem;
}
.socialIcons {
  display: inline-block;
  font-size: 2em;
  padding-right: 1%;
}
