footer {
  display: block;
  position: fixed;
  font-size: 1.2rem;
  text-align: center;
  bottom: 0;
  width: 100%;
  color: #e6d5b8;
}
.iconAttribute {
  font-size: 1rem;
}
.socialIcons {
  display: inline-block;
  font-size: 2em;
  padding-right: 1%;
}

@media (max-device-width: 980px){
  /*------------------App CSS---------------------*/
  footer{
    font-size: 1rem;
  }
  .iconAttribute{
    font-size: .75em;
  }
  .socialIcons{
    font-size: 1.75em;
  }
}