body{
  background-image: url("https://i.pinimg.com/originals/c3/42/74/c3427404e76b6db33f60112e46b957b5.gif");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.app{
  position: relative;
}


/* -------------------------------------Small mobile screens-------------------------------- */
@media (max-device-width: 640px){
  /*------------------App CSS---------------------*/
  .app{
    position: absolute;
  }

}

/* ------------------------------------Tablet Screens--------------------------------------- */
@media (max-device-width: 1280px){
  /*------------------App CSS---------------------*/
  .app{
    position: absolute;
  }
}