body{
  background-image: url("https://i.pinimg.com/originals/c3/42/74/c3427404e76b6db33f60112e46b957b5.gif");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
/* ----------------------------NavBar CSS------------------------------------------ */
.pages{
  color: #99a8b2;
  position: relative;
  padding-right: 1%;
  margin: 1% 0 .5%;
}

.pages a {
  background-color: #1f6f8b;
  color: #e6d5b8;
  border: blanchedalmond;
  border-style: double;
  border-radius: 10%;
  padding: 5px;
}
.pages img{
  margin-bottom: 10%;
}

#pageIcon {
  border: #99a8b2;
  border-style: double;
  display: inline-block;
  border-radius: 50%;
}
#pageIcon img{
  border-radius: 50%;
}
.navBar h1{
  display: inline-block;
  flex: auto;
  padding-left: 2%;
  color: #e6d5b8;
}

/* ----------------------------Typewriter CSS-------------------------------- */
.typeWriterParent{
  position: absolute;
  margin: 10% 5%;
  width: 90%;
}
.typeWriter {
  display: inline-block;
  color: #e6d5b8;
  position: relative;
  
  width: 100%;
  font-size: 4rem;
}
.helloWorld{
  color:#e6d5b8;
  position: relative;
  display: inline-block;

}

/* --------------------------------Stuff---------------------------------------------- */
.wulfLogo{
  height: 80%;
  width: 50%;
  margin-left: 45%;
}
@media (max-device-width: 480px){
  /* ----------------------------NavBar CSS------------------------------------------ */
  
  /* -----------Blog site Link----------------- */
  .wulfLogo{
    height: 25rem;
    width: 100%;
    margin-left: 0;
    position: relative;
    margin-top: 15rem;
    display: inline-block;
  }

  /* -------------Typewriter--------------- */
  .typeWriterParent{
    position: absolute;
    margin: 10% 5%;
    width: 90%;
  }
  .typeWriter {
    display: inline-block;
    color: #e6d5b8;
    position: relative;
    
    width: 100%;
    font-size: 2.5rem;
  }
  .helloWorld{
    color:#e6d5b8;
    position: relative;
    display: inline-block;
  
  }
}