body{
  background-image: url("https://i.pinimg.com/originals/c3/42/74/c3427404e76b6db33f60112e46b957b5.gif");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
/* ----------------------------NavBar CSS------------------------------------------ */
.pages{
  padding-right: 1%;
}

.pages a {
  color: #e6d5b8;
}

#pageIcon {
  border: #99a8b2;
  border-style: double;
  display: inline-block;
  border-radius: 50%;
}
#pageIcon img{
  border-radius: 50%;
}
.navBar h1{
  display: inline-block;
  flex: auto;
  padding-left: 2%;
  color: #e6d5b8;
}

/* ----------------------------Typewriter CSS-------------------------------- */
.typeWriterParent{
  position: absolute;
  display: block;
}
.typeWriter {
  color: #e6d5b8;
  margin-top: 10%;
  margin-right: 1%;
  font-size: 3rem;
}
.typeWriterIntro{
  color:#e6d5b8;
  position: relative;
  height: 10px;
}

/* --------------------------------Blog Link---------------------------------------------- */
.blogLink{
  display: block;
  position: absolute;
}
.wulfLogo{
  position: relative;
  height: 80%;
  width: auto;
  margin-left:45%;
}


/* -------------------------------------Small mobile screens-------------------------------- */
@media (max-device-width: 480px){
  /*------------------App CSS---------------------*/
  .app{
    position: absolute;
  }
  
  /* ---------------NavBar CSS------------------- */
  .navBar{
    text-align: center;
    position: relative;
    font-size: 1rem;
  }
  .pages{
    position: relative;
    width: 100%;
  }
  .pages button{
    margin-right: 2%;
  }
  .navBar h1{
    font-size: 2rem;
  }
  #pageIcon{
    position: relative;
    margin: auto;
  }

  /* -----------Blog site Link----------------- */
  .wulfLogo{
    height: 30rem;
    width: 100%;
    margin-left: 0;
    position: relative;
    padding: 10% 0 0 0;
  }

  /* -------------Typewriter--------------- */
  .typeWriterParent{
    /* position: relative; */
    text-align: center;
    margin: auto;
    width: 100%;
  }
  .typeWriter {
    color: #e6d5b8;
    position: relative;
    width: 100%;
    font-size: 1.5rem;
  }
}